

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1561143005996-29 {top: 20px; left: 60px; height: 60px; width: 440px;
        }
        .silex-id-1561142381278-28 {top: 500px; left: 80px; height: 20px; width: 360px;
        }
        .silex-id-1561142015656-13 {top: 340px; left: 20px; height: 140px; width: 240px; display: flex;
        }
        .silex-id-1561142364673-27 {top: 340px; left: 280px; height: 140px; width: 240px; box-sizing: content-box; padding: 0px; overflow: visible;
        }
        .silex-id-1561141970556-5 {top: 260px; left: 460px; height: 64px; width: 64px;
        }
        .silex-id-1561142034459-14 {top: 260px; left: 20px; height: 64px; width: 64px;
        }
        .silex-id-1561308479889-0 {top: 120px; left: 100px; height: 120px; width: 300px;
        }
        .silex-id-1561142145930-22 {top: 180px; left: 400px; height: 1.4em; width: 100px;
        }
        .silex-id-1561142152625-23 {top: 80px; left: 40px; height: 20px; width: 160px;
        }
        .silex-id-1561142130711-20 {top: 80px; left: 200px; height: 1.4em; width: 100px;
        }
        .silex-id-1561142141448-21 {top: 260px; left: 180px; height: 1.4em; width: 100px;
        }
        .silex-id-1561142230759-25 {top: 260px; left: 300px; height: 20px; width: 20px; font-style: normal; font-weight: bold; font-size: 20px;
        }
        .silex-id-1561142302679-26 {top: 180px; left: 520px; height: 20px; width: 20px; font-size: 20px; font-weight: bold;
        }
        .silex-id-1561142201880-24 {top: 80px; left: 320px; height: 20px; width: 20px; font-weight: bold; font-size: 20px;
        }
        .background-initial {background-color: rgb(154, 206, 255); top: 5px; left: 154px; width: 550px; height: 550px;
        }
    